html {
  height: 100%;
}
:root {
  --clr-font: #26153d;
  --clr--900: #d5abdd;
  --clr--700: #7689ca;
  --clr-600: rgba(93, 16, 114, 0.685);
  --clr-hover-a: rgb(223, 205, 223);
  --clr-label: #4d4d65;
}

body.dark-mode {
  --clr-font: #d5abdd;
  --clr--900: #26153d;
  --clr--700: #1d2953;
  --clr-600: rgba(93, 16, 114, 0.685);
  --clr-hover-a: rgb(31, 23, 31);
  --clr-label: #111;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--clr--900);
  color: var(--clr-font);
  display: flex;
  flex-direction: column;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-font);
  font-display: inline-block;
}
a:hover {
  color: var(--clr-hover-a);
  cursor: pointer;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#main {
  display: flex;
  flex: 2;
}
#side-menu {
  flex: 1;
}

#job-title {
  margin: 0;
}
h1 {
  margin: 1rem 0 0 0;
}
.favourite {
  font-weight: bold;
  color: blue;
}

.page {
  flex: 1;
  display: none;

  background-color: var(--clr--900);
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  border-radius: 0.8rem;
}

.page1 {
  background-color: var(--clr-600);
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  border-radius: 0.8rem;
}

#top-menu-bar {
  text-align: center;
  background-color: var(--clr--700);
  color: #fff;
  margin: 0;
  padding: 0.2rem 0;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#top-menu-bar li + li {
  margin-left: 1rem;
}

#top-menu-bar a {
  padding: 5px 0;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
}

.header-content {
  display: flex;
  padding: 0.5rem;
  gap: 2rem;
  background-color: var(--clr--700);
}
img {
  display: block;
  height: 100px;
  border: 6px solid var(--clr--900);
  border-radius: 50%;
}
.name {
  font-size: 1.4rem;
  font-weight: 900;
}

footer {
  padding: 0.8rem;
  background-color: var(--clr--700);
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

footer > a {
  font-size: 1.5rem;
  font-weight: 900;
}

.input__form {
  padding: 1rem;
}
input {
  margin: 1rem;
}
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.4rem 1.5rem;
  background-color: rgb(145, 109, 180);
  color: #fff;
  border: none;
  border-radius: 8px;
}
button:hover {
  color: rgb(31, 23, 31);
  cursor: pointer;
}

/* Ghost */
#side-menu {
  height: 100%;
}
.ghost-page {
  height: 320px;
  background-color: var(--clr-600);
}

.container {
  width: 150px;
  height: 180px;
  margin: 0 auto;
  background-color: white;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom: 0;
  position: relative;
  border-top: 2rem;
  -webkit-animation: float 3s linear infinite;
  animation: float 3s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.eye {
  width: 30px;
  height: 30px;
  background-color: #2a3a4a;
  border-radius: 50%;
  position: absolute;
}

.eye.left {
  top: 50px;
  left: 30px;
}

.eye.right {
  top: 50px;
  right: 30px;
}

.mounth {
  width: 40px;
  height: 20px;
  background-color: #2a3a4a;
  position: absolute;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border-top: 0;
  bottom: 70px;
  left: 55px;
}

.arm {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  border-top: 0;
  bottom: 70px;
}

.arm.left {
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  left: -20px;
}

.arm.right {
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  right: -20px;
}

.bottom {
  width: 37.5px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  border-top: 0;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  bottom: -15px;
}

.bottom.one {
  left: 0px;
}

.bottom.two {
  left: 37.5px;
}

.bottom.three {
  left: 75px;
}

.bottom.four {
  left: 112.5px;
}
/* checkbox light and dark mode */

.checkbox {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.label {
  width: 50px;
  height: 24px;
  background-color: var(--clr-label);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.3);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.ball:active,
.ball:hover,
.label:active,
.label:hover {
  cursor: pointer;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(25px);
}
