html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-display: inline-block;
}
a:hover {
  color: rgb(31, 23, 31);
  cursor: pointer;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#main {
  display: flex;
  flex: 2;
}
#side-menu {
  flex: 1;
}
td {
  color: darkblue;
  border-color: aquamarine;
}
#job-title {
  margin: 0;
}
h1 {
  margin: 1rem 0 0 0;
}
.favourite {
  font-weight: bold;
  color: blue;
}

.page {
  flex: 1;
  display: none;
  border: 2px solid rgb(145, 109, 180);
  background-color: #fff;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  border-radius: 0.8rem;
}

.page1 {
  border: 2px solid rgb(145, 109, 180);
  background-color: #fff;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  border-radius: 0.8rem;
}

#top-menu-bar {
  text-align: center;
  background-color: rgb(159, 147, 159);
  color: #fff;
  margin: 0;
  padding: 0.2rem 0;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: solid rgb(145, 109, 180);
  border-radius: 8px;
  background-color: rgb(145, 109, 180);
}
#top-menu-bar a {
  padding: 5px 0;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
}
#top-menu-bar a:hover {
  color: rgb(31, 23, 31);
}
.header-content {
  display: flex;
  padding: 0.5rem;
  gap: 2rem;
  background-image: linear-gradient(
    to right,
    rgba(128, 0, 255, 0.317),
    rgb(115, 0, 255)
  );
}
img {
  display: block;
  height: 100px;
  border: 6px solid rgba(45, 9, 45, 0.42);
  border-radius: 50%;
}
.name {
  color: rgba(93, 16, 114, 0.685);
  font-size: 1.4rem;

  font-weight: 900;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
  background-image: linear-gradient(
    to right,
    rgba(128, 0, 255, 0.317),
    rgb(115, 0, 255)
  );
}

footer {
  padding: 0.6rem;
  border: 2px solid purple;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(128, 0, 255, 0.317),
    rgb(115, 0, 255)
  );
}

footer > a {
  font-size: 1.5rem;
  font-weight: 900;
}

.input__form {
  padding: 1rem;
}
input {
  margin: 1rem;
}
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.4rem 1.5rem;
  background-color: rgb(145, 109, 180);
  color: #fff;
  border: none;
  border-radius: 8px;
}
button:hover {
  color: rgb(31, 23, 31);
  cursor: pointer;
}

/* Ghost */
#side-menu {
  height: 100%;
}
.ghost-page {
  height: 320px;
  background-color: rgba(93, 16, 114, 0.685);
}

.container {
  width: 150px;
  height: 180px;
  margin: 0 auto;
  background-color: white;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom: 0;
  position: relative;
  border-top: 2rem;
  -webkit-animation: float 3s linear infinite;
  animation: float 3s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.eye {
  width: 30px;
  height: 30px;
  background-color: #2a3a4a;
  border-radius: 50%;
  position: absolute;
}

.eye.left {
  top: 50px;
  left: 30px;
}

.eye.right {
  top: 50px;
  right: 30px;
}

.mounth {
  width: 40px;
  height: 20px;
  background-color: #2a3a4a;
  position: absolute;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border-top: 0;
  bottom: 70px;
  left: 55px;
}

.arm {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  border-top: 0;
  bottom: 70px;
}

.arm.left {
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  left: -20px;
}

.arm.right {
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  right: -20px;
}

.bottom {
  width: 37.5px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  border-top: 0;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  bottom: -15px;
}

.bottom.one {
  left: 0px;
}

.bottom.two {
  left: 37.5px;
}

.bottom.three {
  left: 75px;
}

.bottom.four {
  left: 112.5px;
}
